* {
	box-sizing: border-box;
}

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: sans-serif;
	min-width: 300px;
	max-width: calc(1000px + 8em);
	margin: 0 auto;
}

a, a:visited {
	color: var(--color-link);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.button, a.button, a.button:hover, [type="submit"] {
	border: none;
	background-color: var(--color-link);
	color: var(--color-link-contrast);
	padding: .3em 1em;
	border-radius: var(--round-small);
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.form-input {
	display: flex;
	flex-direction: column;
}

.form-input.checkboxes {
	flex-flow: wrap row;
}

.form-input.checkboxes > * {
	margin-right: 1em;
}

.pager {
	text-align: center;
}

img.cover, .cover img {
	object-fit: contain;
}

.preload {
	display: none;
}
