* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-width: 300px;
	max-width: calc(1000px + 8em);
	margin: 0 auto;
}

a, a:visited {
	color: var(--blue);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.button, a.button, a.button:hover {
	background-color: var(--blue);
	color: white;
	padding: .3em 1em;
	border-radius: var(--round-small);
	text-decoration: none;
	display: inline-block;
}
