#gallery .info {
	display: flex;
	flex-direction: row;
}

#gallery .cover {
	display: flex;
	justify-content: center;
	padding: 1em;
}

#gallery .meta {
	flex: 1;
}

#gallery .meta header {
	margin-bottom: 1em;
	text-align: center;
}

#gallery .meta header a {
	color: inherit;
}

#gallery header .title {
	margin: 0;
}

#gallery header .artist {
	color: var(--gray);
	font-size: 1.5em;
	font-weight: bold;
}

#gallery header .actual-title {
	font-size: 0.9em;
}

#gallery .pages {
	display: flex;
	flex-flow: wrap row;
	margin: 1em 0;
}

#gallery .page {
	margin: .5em;
}

#gallery .tags-group {
	margin: 0.5em 0;
}

#gallery .namespace {
	border: 1px solid black;
	padding: 0.2em;
	display: inline-block;
}

@media screen and (max-width: 900px) {
	#gallery .info {
		flex-direction: column;
	}
}
