#galleries {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
}

.gallery-entry {
	margin: 1em;
	overflow: hidden;
	width: var(--cover-width);
	min-height: var(--cover-height);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gallery-entry a {
	text-decoration: none;
	color: inherit;
}

.gallery-entry > .title {
	max-height: 3em;
	min-height: 3em;
	font-size: 0.9em;
	overflow: hidden;
	display: block;
	width: 100%;
	position: absolute;
	background-color: var(--black-glass);
	color: white;
	z-index: 2;
}

.gallery-entry > .title:hover {
	max-height: none;
}

.gallery-entry main {
	position: relative;
	overflow: hidden;
	z-index: 1;
	max-height: calc(var(--cover-height) - 40px);
}

.gallery-entry main, .gallery-entry .cover {
	width: 100%;
}

.gallery-entry .cover {
	width: 100%;
}

.gallery-entry .super-tags {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
	align-items: end;
	font-size: small;
}

.gallery-entry .super-tags > * {
	color: white;
	padding: 0 .4em;
	margin: 0.2em 0;
	border-radius: var(--round-small);
}

.gallery-entry .super-tags .language {
	background-color: gray;
}

.gallery-entry .super-tags .category {
	background-color: red;
}

.gallery-entry.doujinshi .super-tags .category {
	background: var(--color-doujinshi);
}

.gallery-entry.manga .super-tags .category {
	background: var(--color-manga);
}

.gallery-entry.non-h .super-tags .category {
	background: var(--color-non-h);
}

.gallery-entry.western .super-tags .category {
	background: var(--color-western);
}

.gallery-entry .tags {
	position: absolute;
	bottom: -100%;
	width: 60%;
	max-height: 60%;
	padding: 0.3em;
	background-color: var(--black-glass);
	color: white;
	font-size: small;
	overflow: auto;
	border-radius: 10px 10px 0 0;
	transition: var(--anim-short);
	z-index: 2;
}
.gallery-entry:hover .tags {
	bottom: 0;
}

.gallery-entry .tags-toggle {
	position: absolute;
	left: 5px;
	bottom: 10px;
	z-index: 3;
	text-shadow: 0 0 3px white;
}

.gallery-entry:hover .tags-toggle {
	visibility: hidden;
}

.gallery-entry .tags-group {
	margin-bottom: 0.5em;
	display: flex;
	flex-direction: column;
}

.gallery-entry .namespace {
	display: block;
	border-bottom: 1px solid gray;
	font-weight: bold;
}


/* --- */

.gallery-entry {
	padding: 1em;
	background-color: var(--color-cover-background);
	color: var(--color-cover-foreground);
}

.gallery-entry > .title {
	display: none;
}

/* .gallery-entry:hover > .title { */
/* 	display: block; */
/* } */

.gallery-entry .sub-infos {
	white-space: nowrap;
	display: block;
}

.gallery-entry .sub-infos > * {
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

.gallery-entry .sub-infos .artist {
	color: var(--color-cover-artist-foreground);
}

.gallery-entry .tags-group.artist,
.gallery-entry .tags-group.group,
.gallery-entry .tags-group.language {
	display: none;
}

@media screen and (max-width: 900px) {
	#galleries {
		flex-direction: column;
	}

	.gallery-entry {
		width: auto;
	}

	.gallery-entry main {
		display: flex;
		flex-direction: row;
		margin-bottom: 0.5em;
	}

	.gallery-entry .cover {
		max-width: 45vw;
	}

	.gallery-entry .all-tags {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
	}

	.gallery-entry .tags,
	.gallery-entry .super-tags {
		position: initial;
	}

	.gallery-entry .super-tags {
		flex-flow: wrap row-reverse;
	}

	.gallery-entry .super-tags > * {
		margin: 0 1em;
	}

	.gallery-entry .tags {
		bottom: 0;
		width: auto;
		max-height: none;
		background: none;
		color: inherit;
		font-size: 1em;
	}

	.gallery-entry .sub-infos {
		white-space: initial;
	}
}
