#reader main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	z-index: -1;
}

#reader .previews {
	display: none;
	flex-flow: wrap row;
}

@media screen and (max-width: 900px) {
	#reader main .previous,
	#reader main .next {
		display: none;
	}

	#reader .previews {
		display: flex;
	}
}

#reader main > * {
	margin: auto;
}

#reader main .page img {
	max-width: 100%;
	height: 100vh;
	object-fit: contain;
}

#reader main .preview img {
	object-fit: contain;
}

#reader footer {
	text-align: center;
}

#reader footer .all-previews {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
}

#reader footer .all-previews .preview {
	margin: .5em;
}

#reader footer .all-previews .current.preview {
	border: 2px solid var(--blue);
}

#reader footer .all-previews img {
	max-width: 200px;
	display: block;
}

#reader footer .tag {
	padding: 0.3em;
	border: 1px solid black;
	display: inline-block;
	margin: 0.2em;
}
