<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		{% if not title %}
		<title>SuperPanda, the beautiful SadPanda web client</title>
		{% else %}
		<title>{{ title }} - SuperPanda</title>
		{% endif %}
		{% assets output="bundle.css",
			"css/variables.css",
			"css/theme.css",
			"css/base.css",
			"css/galleries.css",
			"css/gallery.css",
			"css/reader.css"
		%}
		<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
		{% endassets %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='themes/dark.css') }}"> -->
	</head>

	<body>

		{% if title %}<h1>{{ title }}</h1>{% endif %}
		{% block content %}
		{% endblock %}

		<footer>
			<ul>
				{% if json %}
				<li><a href="{{ json }}">JSON</a></li>
				{% endif %}
				<li><a href="https://github.com/skielred/SuperPanda">Source code</a></li>
				<li><a href="https://twitter.com/Shookaite">Twitter</a></li>
				<li><a href="https://discord.gg/Yf5NqzQyur">Discord</a></li>
			</ul>
		</footer>
	</body>
</html>
