{% extends "base.html" %}

{% block content %}

<div id="gallery-page">
    <header class="header">
        <h2 class="gallery-title">{{ gallery.smart_title }}</h2>
        <div class="gallery-subtitle">{{ gallery.smart_title_orig }}</div>
    </header>
    <div class="meta">
        <div class="intro">
            <div class="cover">
                <a href="{{ url_for(
                        'gallery_page',
                        id=gallery.id,
                        token=gallery.token,
                        page=1,
                        page_token=gallery.first_page_token,
                ) }}">
                    <img src="{{ gallery.cover_url }}">
                </a>
            </div>
            <div class="category">{{ gallery.category.name }}</div>
            <div class="date">Posted {{ gallery.created_at }}</div>
            <div class="uploader">Uploaded by {{ gallery.uploader }}</div>
            <div class="pages">{{ gallery.pages_count }} pages</div>
            <div class="rating">0.0⭐️ (00 votes)</div>
            <div class="favorites">Favorited 00 times</div>
        </div>
        <div class="tags">
            {% set namespaces = gallery.get_tags_by_namespace() %}
            {% for namespace, tags in namespaces.items() if tags %}
            <section>
                <div class="namespace">{{ namespace }}</div>
                <ul>
                    {% for tag in tags %}
                    <li class="tag"><a href="#">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>
    </div>
    <hr>
    {% include "_previews.html" %}
</div>

{% endblock %}