{% extends "base.html" %}
{% set json = url_for('.gallery_json', id=data.id, token=data.token) %}

{% block content %}
<p>
	<a href="{{ url_for('.galleries') }}">Back to home page</a>
</p>
<div id="gallery">
	<div class="info">
		<a href="{{ data.pages[0].reader_url }}" class="cover">
			<img src="{{ data.cover_url }}">
		</a>
		<div class="meta">
			<header>
				<h2 class="title">
					{{ data.extracted_title }}
				</h2>
				{% if data.full_artist %}
				<a href="{{ url_for('.galleries', search=data.artist) }}" class="artist">
					{{ data.full_artist }}
				</a>
				{% endif %}
				{% if data.title != data.extracted_title %}
				<div class="actual-title">{{ data.title }}</div>
				{% endif %}
			</header>
			<div class="tags">
				{% for namespace, tags in data.tags_by_namespaces.items() %}
				<div class="tags-group {{ namespace }}">
					<span class="namespace">{{ namespace }}:</span>
					{% for tag in tags %}
					<a href="{{ url_for('.galleries', search=tag) }}" class="tag">{{ tag.value }}</a>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
			<div class="buttons">
				<a href="{{ data.url }}" class="button">See on EH</a>
				<a class="button">Add to favorites</a>
			</div>
		</div>
	</div>
	<div class="pages">
		{% for page in data.pages %}
		<a
			href="{{ page.reader_url }}"
			class="page"
			style="{{ page.style }}">
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
