{% extends "base.html" %}

{% block content %}

<div id="gallery-page">
    <header class="header">
        <h2 class="gallery-title">{{ gallery.smart_title }}</h2>
        <div class="gallery-subtitle">{{ gallery.smart_title_orig }}</div>
    </header>
</div>

{% endblock %}
<a href="{{ url_for('galleries')}}">Back to galleries</a>

<pre style="max-width: 100vw; white-space: pre-wrap; word-wrap: break-word;">
    {{ gallery }}
</pre>

{% for preview in previews.values() %}
<a href="{{ url_for(
        'gallery_page',
        id=gallery.id,
        token=gallery.token,
        page=preview.page,
        page_token=preview.page_token,
    ) }}">
    <div style="
        width: {{ preview.width }}px;    
        height: {{ preview.height }}px;
        background-image: url({{ preview.url }});
        background-position-x: {{ preview.offset_x }}px;
    "></div>
</a>
{% endfor %}