{% extends "base.html" %}
{% set json = url_for('.galleries_json') %}
{% set search = request.args.get('search') %}

{% block content %}

{% if title %}<h1>{{ title }}</h1>{% endif %}

{% include "_nav.html" %}

<form id="galleries-search">
	<div class="form-input">
		<label for="search">Search</label>
		<input name="search" id="search" value="{{ search or '' }}">
	</div>
	<div class="form-input checkboxes" id="filters">
		{% for name in filters_list %}
		<div class="form-input-checkbox">
			{% with id = "filter-" + name %}
			<input id="{{ id }}" type="checkbox" name="filters" value="{{ name }}"
				{% if name in filters %}
				checked
				{% endif %}
			>
			<label for="{{ id }}">{{ name|nameify }}</label>
			{% endwith %}
		</div>
		{% endfor %}
		<a id="toggle-all-filters">Toggle all</a>
	</div>
	<input type="submit" value="search">
</form>
<p>
	<a href="{{ url_for('.set_theme', name='dark') }}">Dark theme</a>
	<a href="{{ url_for('.set_theme', name='default') }}">Default theme</a>
</p>
{% include "_pager.html" %}
<div id="galleries">
	{% for gallery in data %}
		{% with url = url_for('.gallery', id=gallery.id, token=gallery.token) %}
		<div class="gallery-entry {{ gallery.category }}">
			<a href="{{ url }}" class="title">{{ gallery.title }}</a>
			<main>
				<a href="{{ url }}" title="{{ gallery.title }}">
					<img src="{{ gallery.cover_url }}" class="cover">
				</a>
				<div class="all-tags">
					<div class="tags">
						{% for namespace, tags in gallery.tags_by_namespaces.items() %}
						<div class="tags-group {{ namespace }}">
							<span class="namespace">{{ namespace }}:</span>
							{% for tag in tags %}
							<span class="tag">{{ tag.value }}</span>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
					<div class="super-tags">
						{% if gallery.language %}
							<span class="language">
								{{ gallery.language.value }}
								{% if gallery.is_translation %}(TR){% endif %}
							</span>
						{% endif %}
						<span class="category">{{ gallery.category }}</span>
					</div>
				</div>
			</main>
			<div class="sub-infos">
				{% if gallery.extracted_title %}
				<a href="{{ url }}" class="title" title="{{ gallery.title }}">{{ gallery.extracted_title }}</a>
				{% endif %}
				{% if gallery.full_artist %}
				<a href="{{ url_for('.galleries', search=gallery.artist) }}" class="artist" title="{{ gallery.full_artist }}">{{ gallery.full_artist }}</a>
				{% endif %}
				<div class="meta">
					<span class="date" title="{{ gallery.posted_at }}">{{ moment(gallery.posted_at).fromNow() }}</span>
					<span class="pages">{{ gallery.pages_count }} pages</span>
					<span class="rating">{{ gallery.rating }}⭐</span>
				</div>
			</div>
		</div>
		{% endwith %}
	{% endfor %}
</div>
{% include "_pager.html" %}
{% endblock %}
