{% extends "base.html" %}

{% block content %}
<div id="reader">
	<main>
		<a href="{{ data.prev.reader_url }}" class="previous" style="{{ data.prev_style }}"></a>
		<a href="{{ data.next.reader_url }}" class="page">
			<img src="{{ data.image }}">
		</a>
		<a href="{{ data.next.reader_url }}" class="next" style="{{ data.next_style }}"></a>
	</main>
	<div class="previews">
		<a href="{{ data.prev.reader_url }}" class="previous" style="{{ data.prev_style }}"></a>
		<a href="{{ data.next.reader_url }}" class="next" style="{{ data.next_style }}"></a>
	</div>
	<footer>
		<p>{{ data.page }} / {{ data.pages }}</p>
		<p>
			<a id="back-to-gallery" href="{{ url_for('.gallery', id=data.gallery, token=data.gallery_token) }}">
				Back to gallery
			</a>
		</p>
		<p>
			<a id="back-to-home" href="{{ url_for('.galleries') }}">Back to home</a>
		</p>
	</footer>
</div>
{% endblock %}
