{% extends "base.html" %}
{% set json = url_for('.reader_json', id=data.gallery, token=data.gallery_token, page=data.page) %}

{% block content %}
<div id="reader">
	<main>
		{% with page = data.prev %}{% include "_preview.html" %}{% endwith %}
		<a href="{{ data.next.reader_url }}" class="page">
			<img src="{{ data.image }}">
		</a>
		{% with page = data.next %}{% include "_preview.html" %}{% endwith %}
	</main>
	<div class="previews">
		{% with page = data.prev %}{% include "_preview.html" %}{% endwith %}
		{% with page = data.next %}{% include "_preview.html" %}{% endwith %}
	</div>
	<div class="preload">
	</div>
	<footer>
		<p>{{ data.page }} / {{ data.pages_count }}</p>
		<p>
			<a id="back-to-gallery" href="{{ url_for('.gallery', id=data.gallery, token=data.gallery_token) }}">
				Back to gallery
			</a>
		</p>
		<p>
			<a id="back-to-home" href="{{ url_for('.galleries') }}">Back to home</a>
		</p>
		<p class="title">
			{{ data.title }}
		</p>
		{% if data.artist %}
		<a href="{{ url_for('.galleries', search=data.artist) }}" class="artist">
			{{ data.artist.value }}
		</a>
		{% endif %}
		<p class="all-previews">
			{% for page in data.pages.values() %}
			{% include "_preview.html" %}
			{% endfor %}
		</p>
		<p class="tags">
			{% for tag in data.tags %}
			<a href="{{ url_for('.galleries', search=tag) }}" class="tag">{{ tag }}</a>
			{% endfor %}
		</p>
	</footer>
</div>
{% endblock %}
